@model IEnumerable<Labtask3.EntityFramework.Category>

@{
    ViewBag.Title = "CList";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "CCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "CEdit", new { id = item.ID }) |
                @Html.ActionLink("Details", "CDetails", new { id = item.ID }) |
                @Html.ActionLink("Delete", "CDelete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
