@model IEnumerable<Mid.EntityFramework.Request_Item>

@{
    ViewBag.Title = "RequestFoodItemList";
}

<h2>RequestFoodItemList</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Expiredate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EID)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expiredate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RID)
            </td>
            @if (item.EID != null)
            {
                <td>@Html.DisplayFor(modelItem => item.Employee.Name)</td>
            }
            else
            {
                <td><a href="/Admin/AssignEmployee/@item.ID">Assign Employee</a></td>
            }



        </tr>
    }
    <tr><td><a href="/Admin/LogOut">Log Out</a></td></tr>


</table>
